
.cartItem {

  width: 100%;
  display: flex;
  align-items: center;
  border: 0.1rem solid #7D7D7D;
  border-radius: 1.2rem;
  margin-bottom: 1rem;

  & > * { margin: 1rem; }

  &Image {
    width: 7rem;
    height: 7rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1.2rem;
  }

  &Name {
    flex-grow: 1;
    margin-left: 5rem;
  }

  &Pricing {

    width: 40%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);



  }




}